$blue: #2e85c2;
$blue-strong: #1763a9;
$blue-light: #eaf2f8;

/* BACKGROUND COLORS */
$background-grey-light: #fafafa;

$font: 'Montserrat', sans-serif;

@mixin text-decoration {
  text-decoration: none;
  font-family: $font;
  font-size: 1rem;
}
