@import '../../assets/assets.scss';

.task-title {
  @include text-decoration;
  color: $blue;
}
.task-wrapper {
  padding: 10px 0;
  .task-item {
    color: black;
    @include text-decoration;
  }
}
