@import '../../assets/assets.scss';

.Navigation-component {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;
  color: $blue;
  .Navigation-title {
    text-decoration: none;
    color: inherit;
  }
}
